* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

body {
    font-size: 12px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

.head-t {
    height: 33px;
    background: url(../img/header-tbg.jpg) repeat-x bottom;
}

.header-tN {
    width: 1000px;
    margin: 0 auto;
}

.header-tR {
    width: 500px;
    float: right;
}

.header-tR a {
    color: #666;
    float: left;
    height: 33px;
    display: block;
    line-height: 33px;
    text-decoration: none;
}

.myzh,
.mysc {
    margin-right: 45px;
}

.gwc {
    width: 40px;
    padding-right: 10px;
    background: url(../img/gwcbg.jpg) no-repeat right center;
    margin-right: 20px;
}

.welcome {
    width: 500px;
    height: 33px;
    line-height: 33px;
    padding-right: 75px;
    text-align: right;
    box-sizing: border-box;
}

.welcome a {
    padding: 0 15px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.welcome a:hover {
    color: #f00;
    text-decoration: none;
}

.headerBg {
    height: 112px;
    background: #fff;
}

.header {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}

.header .logo {
    width: 200px;
    float: left;
    margin-left: 20px;
}

.header .logo a {
    text-decoration: none;
    cursor: pointer;
}

.header .logo img {
    width: 189px;
    margin: 25px 0 0;
}

.Sou {
    width: 773px;
    float: left;
    margin-left: 5px;
    margin-top: 20px;
    display: inline;
}

.hotWords {
    font-family: "微软雅黑";
    height: 12px;
    line-height: 12px;
    width: 700px;
    font-size: 13px;
    display: inline-block;
    margin: 0 auto;
}

.hotWords li {
    display: inline-block;
    list-style-type: none;
}

.hotWords li a {
    margin-right: 10px;
    color: #a6a6a6;
    text-decoration: none;
    cursor: pointer;
}

.SouS {
    width: 723px;
    border: 1px solid #689835;
    height: 40px;
    margin: 5px 0 6px 0;
}

.SouS form {
    display: block;
}

.SouS form input {
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    cursor: text;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
}

.SouS form .Ss {
    color: #666;
    border: 0;
    background: none;
    width: 287px;
    float: left;
    padding: 3px;
    height: 30px;
}

.SouS form .SsBt {
    cursor: pointer;
    width: 90px;
    height: 40px;
    float: right;
    border: 0;
    border-left: 1px solid #336702;
    background: url(../img/searchIcon.png) no-repeat center center;
    background-color: #669934;
}

.HotS {
    font-family: "微软雅黑";
    height: 50px;
    display: inline-block;
    width: 780;
    font-size: 12px;
}

.HotS li {
    display: inline-block;
    list-style-type: none;
}

.HotS li a {
    margin-right: 10px;
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

.link-nav h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.navigation_bg {
    height: 500px;
}

.navigation {
    width: 1000px;
    height: 414px;
    margin: 0 auto;
}

.leftNavigation {
    overflow: hidden;
    width: 230px;
    position: absolute;
    margin: 0 auto;
}

.AllSpN {
    font-size: 14px;
    padding-top: 3px;
    border: 2px solid #336601;
    width: 226px;
    background: #fff;
    z-index: 999;
    overflow: hidden;
}

.AllSpN a {
    color: #333
}

.AllSpN a:hover {
    color: #f00;
    text-decoration: none;
}

.AllSpN1 {
    width: 230px;
    height: 42px;
    border-bottom: 1px solid #E4E4E4;
    overflow: hidden;
    /* height: 100%; */
}

.AllSpN1 ul {
    display: block;
    width: 230px;
    height: 41px;
}

.AllSpN1 ul li {
    /* margin: 0 0 0 10px; */
    height: 41px;
    line-height: 41px;
    font-size: 18px;
    font-weight: normal;
    list-style-type: none;
}

.AllSpN1 ul li a .point {
    width: 11px;
    font-size: 10px;
    display: inline-block;
    margin-left: 3px;
}

.AllSpN1 .subTitle {
    margin: 0 0 0 5px;
}

.AllSpN1 ul li a {
    color: black;
    margin-left: 70px;
    height: 24px;
}

.promotion_bg {
    height: 265px;
    margin: 0 auto;
}

.promotion {
    height: 265px;
    background: #ffe598;
    width: 1000px;
    margin: 0 auto;
}

.promotion ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 2em;
}

.promotion ul li {
    width: 250px;
    height: 265px;
    border: 0px;
    float: left;
    text-align: center;
}

.promotion ul li a img {
    width: 250px;
    height: 265px;
    border: 0px;
}

.scroll {
    white-space: nowrap;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 87%;
    display: inline-block;
    height: 30px;
    position: relative;
}

.scroll ul {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: left;
    margin-left: 10px;
}

.scroll ul li {
    width: 300px;
    height: 30px;
    line-height: 30px;
}

.scroll ul li a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.hotGoodsList {
    width: 1000px;
    margin: 0 auto;
}

.hotGoodList ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.hotGoodsList ul .first {
    margin-left: 0px;
}

.hotGoodsList ul li {
    display: inline-block;
    margin-left: 6px;
}

.hotGoodsList ul li a {
    text-decoration: none;
}

.hotGoodsList ul li .goodsImg img {
    width: 242.5px;
}

.hotGoodsList ul li .goodsPrice {
    color: red;
    font-size: 21px;
    text-align: center;
    height: 35px;
    line-height: 30px;
}

.hotGoodsList ul .splitLine {
    height: 35px;
    width: 1000px;
    border-top: 1px solid #dddddd;
}

.wcCatalog {
    margin-left: 20px;
    height: 46px;
    line-height: 46px;
    width: 620px;
    vertical-align: top;
    margin-top: 15px;
    display: inline-block;
}

.wcCatalog ul li {
    display: inline-block;
    margin-left: 5px;
}

.wcCatalog ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.divSplit {
    background: #fff;
    width: 1000px;
    height: 15px;
    margin: 0 auto;
}


/* 尾部 */

.footer {
    clear: both;
    margin-top: 25px !important;
    padding: 20px 0 50px;
    border-top: 1px solid #d0d0d0;
}

.footer ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}

.footer ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.footer ul ol {
    padding-left: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.footer li,
.footer ol {
    list-style-type: none;
}

.footer ul ol {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.footer ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.footer li {
    float: left;
    width: 240px;
    margin-right: 10px;
}

.footer ol a {
    color: #333;
    text-decoration: none;
}

.footer .xs {
    background: url(../img/xs.jpg) no-repeat 58px center;
}

.footer .xs1 {
    background: url(../img/xs1.jpg) no-repeat 58px center;
}

.footer .xs2 {
    background: url(../img/xs2.jpg) no-repeat 50px top;
}

.footer .xs3 {
    background: url(../img/xs3.jpg) no-repeat 58px top;
}

.footer li h3 {
    padding-left: 90px;
    font-family: "宋体";
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
}

.footer h3 {
    display: block;
    font-size: 1.17em;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.footer p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.clear {
    clear: both;
}

.copy {
    margin-top: 80px !important;
    text-align: center;
}